In [1]:
import pandas as pd
file= "Resources/purchase_data.csv"
purchaseDataFrame= pd.read_csv(file)
purchaseDataFrame.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [2]:
totalPlayers = len(purchaseDataFrame["SN"].value_counts())
playersCount = pd.DataFrame({"Total Players": [totalPlayers]})
playersCount

   Total Players
0            576

In [3]:
numberOfUniqueItems = len((purchaseDataFrame["Item ID"]).unique())
averagePrice = (purchaseDataFrame["Price"]).mean()
numberOfPurchases = len(purchaseDataFrame["Purchase ID"])
totalRevenue = (purchaseDataFrame["Price"]).sum()

purchasingAnalysisData = pd.DataFrame({"Number of Unique Items": [numberOfUniqueItems],
                                       "Average Price": [averagePrice],
                                       "Number of Purchases":[numberOfPurchases],
                                       "Total Revenue":[totalRevenue]})

purchasingAnalysisData.style.format({'Average Price' : "${:,.2f}",
                                    'Total Revenue': "${:,}"})

In [4]:
genderGroup=purchaseDataFrame.groupby("Gender")
totalCount=genderGroup.nunique()["SN"]
percentagePlayers=(totalCount/totalPlayers)*100

genderDemographics=pd.DataFrame({"Total Count":totalCount, "Percentage of Players": percentagePlayers})
genderDemographics.sort_values(["Total Count"], ascending=False).style.format({'Percentage of Players' : "%{:,.2f}"})

In [5]:
purchaseCount=genderGroup["Purchase ID"].count()
averagePurchasePrice=genderGroup["Price"].mean()
totalPurchaseValue=genderGroup["Price"].sum()
averageTotalPurchasePerPerson=totalPurchaseValue/totalCount
purchasingAnalysisData=pd.DataFrame({"Purchase Count":purchaseCount,
                                    "Average Purchase Price":averagePurchasePrice,
                                    "Total Purchase Value":totalPurchaseValue,
                                    "Avg Total Purchase per Person":averageTotalPurchasePerPerson})

purchasingAnalysisData.style.format({"Average Purchase Price" : "${:,.2f}",
                                     "Total Purchase Value":"${:,.2f}",
                                     "Avg Total Purchase per Person":"${:,.2f}"})

In [6]:
bins = [0, 9.99, 14.99, 19.99, 24.99, 29.99, 34.99, 39.99, 99999]
labels = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]
purchaseDataFrame["Age Group"] = pd.cut(purchaseDataFrame["Age"], bins, labels = labels)
purchaseDataFrame
groupedAge = purchaseDataFrame.groupby("Age Group")
totalCountAge = groupedAge["SN"].nunique()
totalPlayers = len(purchaseDataFrame["SN"].value_counts())
percentageByAge = (totalCountAge / totalPlayers) * 100
ageDemographics = pd.DataFrame({"Total Count": totalCountAge,"Percentage of Players": percentageByAge})
ageDemographics.index.name = None
ageDemographics.style.format({"Percentage of Players":"{:,.2f}%"})

In [7]:
purchaseCountAge = groupedAge["Purchase ID"].count()
avgPurchasePriceAge = groupedAge["Price"].mean()
totalPurchaseValue = groupedAge["Price"].sum()
avgPurchasePerPersonAge = totalPurchaseValue/totalCountAge
ageDemographics = pd.DataFrame({"Purchase Count": purchaseCountAge,
                                 "Average Purchase Price": avgPurchasePriceAge,
                                 "Total Purchase Value":totalPurchaseValue,
                                 "Average Purchase Total per Person": avgPurchasePerPersonAge})

ageDemographics.index.name = "Age Ranges"
ageDemographics.style.format({"Average Purchase Price":"${:,.2f}",
                               "Total Purchase Value":"${:,.2f}",
                               "Average Purchase Total per Person":"${:,.2f}"})

In [8]:
groupedSpenders = purchaseDataFrame.groupby("SN")
purchaseCountSpender = groupedSpenders["Purchase ID"].count()
avgPurchasePriceSpender = groupedSpenders["Price"].mean()
purchaseTotalSpender = groupedSpenders["Price"].sum()
topSpenders = pd.DataFrame({"Purchase Count": purchaseCountSpender,
                             "Average Purchase Price": avgPurchasePriceSpender,
                             "Total Purchase Value":purchaseTotalSpender})

sortedSpenders = topSpenders.sort_values(["Total Purchase Value"], ascending=False).head()
sortedSpenders.style.format({"Average Purchase Total":"${:,.2f}",
                                 "Average Purchase Price":"${:,.2f}", 
                                 "Total Purchase Value":"${:,.2f}"})

In [9]:
items = purchaseDataFrame[["Item ID", "Item Name", "Price"]]
groupedItems = items.groupby(["Item ID","Item Name"])
purchaseItemCount = groupedItems["Price"].count()
purchaseValue = (groupedItems["Price"].sum()) 
itemPrice = purchaseValue/purchaseItemCount
mostPopularItems = pd.DataFrame({"Purchase Count": purchaseItemCount, 
                                   "Item Price": itemPrice,
                                   "Total Purchase Value":purchaseValue})

sortedPopular = mostPopularItems.sort_values(["Purchase Count"], ascending=False).head()
sortedPopular.style.format({"Item Price":"${:,.2f}",
                                "Total Purchase Value":"${:,.2f}"})

In [10]:
sortedPopular = mostPopularItems.sort_values(["Total Purchase Value"], ascending=False).head()
sortedPopular.style.format({"Item Price":"${:,.2f}", "Total Purchase Value":"${:,.2f}"})